html{
    background-color: cornsilk;
}

.login{
    width:320px;
    height: 400px;
    background: rgb(0,0,0,0.2);
    color: #4b4d4d;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
    
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

h3{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    color: aqua;
    font-size: 10px;
}

.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 3px solid #fff;
    background: transparent;
    outline: none;
    height:40px
    color:aliceblue;
    font-size: 15px;
}

.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:dimgray;
}

login a:hover{
    color: #ffc107;
}

table {
    width: 600px;
}

th{
    text-align: left;
}

table, th, td {
    border: 1px solid #000;
}